*{
    box-sizing: border-box;
}
body{
    margin: 0;  
    padding: 0;
    background-image: linear-gradient(#d31474,#b61f38,#c40d35);
}
div{
    margin-top: 80px;

}

canvas{
    margin-top: 80px;
    margin-left: 150px;
    width: 600px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.container {
    width: 100%;
    min-height:  100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tool-box{
    border: solid rgb(255, 255, 255);
    width: 110px;
    border-radius: 8px;
    margin-left: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.button-tool:hover{
    background-color: rgba(121, 104, 83, 0.829);
}
.input_color{
    width: 45px;
    height: 45px;
    border: none;
    background-color: blueviolet;
    cursor: pointer;
    padding: 5px 7px;
}

.input_color::-webkit-color-swatch{
    border-radius: 100px;
}
.size-tool{
    padding: 10px;
    height:auto;
}

.sizetool > span {
    width: 100%;
    background-color: black;
    display: block;
    border-radius: 100px;
}
header{
    border: solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 50px;
    justify-content: center;
    width: 100vw;
    position: fixed;
    top: 0;
    height: 65px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
@media only screen and (max-width: 900px) {
    .tool-box{
       flex-direction: unset;
       width: auto;
       margin-top: 10px;
       margin-left: 0;
    }
    .container{
        flex-direction: column;
        
    }
    canvas{
        margin-left: 0;
        margin-top: 10px;
        width:90%;    
    }
    header{
        position: unset;
    }

}
@media only screen and (max-width: 774px) {


}